<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand">Venta de productos</a>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="cursor:pointer" (click) = "NvarPersona()">Personas</a>
            <a class="navbar-brand" style="cursor:pointer" (click) = "NvarProdcuto()">Productos</a>
          </nav>
      </div>
  </nav>